.lesson-page-container {
  margin-left: 4.5%;
  margin-right: 9%;
  padding-bottom: 20px; // REMOVE THIS WHEN YOU ADD CONTENT
  
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .go-back-btn {
      background: unset;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .lesson-row {
    height: 4.25rem;
    display: grid;
    grid-template-columns: 5fr 2fr;
    justify-items: end;
    align-items: center;
    width: 100%;

    .stars {
      display: flex;
      img {
        width: 31px;
        height: 31px;
      }
    }

    .lesson__open_button {
      height: 100%;
      width: 100%;
    }
  }

  ol {
    list-style: none;
    counter-reset: item;
    padding: 0;
    margin-top: 64px;
  }
  
  li {
    counter-increment: item;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  li::before {
    content: counter(item);
    width: 52px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 52px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-right: 2%;
  }
  
  .li-border::after {
    content: "";
    border-left: 2px solid #B9B1E0;
    height: calc(100% + 20px);
    position: absolute;
    left: 25px; /* adjust as needed to center the line with the circle */
    transform: translateY(-50%);
    z-index: 0;
  }
  
  
  li:last-of-type::after {
    border-bottom: none;
  }
}