@import "../../styles/colors.scss";

.answer-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  
  &-correct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #58cc02;
    border-color: #c3e6cb;
    color: white;
    padding: 1rem;
  }

  &-incorrect {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $pink;
    padding: 10px 25px;
    color: $dark-grey-text;
    border: 1px solid $pink-border;
    border-radius: 20px;
  }

  img {
    width: 26px;
    height: 26px;
    margin-right: 25px;
  }
}