@import "../../../styles/colors.scss"; 

.page-container {
  margin-top: 67px;

  &__progress_container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
  }

  &__progress_container {
    .x-icon {
      margin-left: 45px;
    }
    
    &:hover {
      cursor: pointer;
    }
  }

  .sentence-container {
    margin-left: 25%;
    margin-top: 50px;

    span {
      color: $dark-grey-text;
    }
  }
  svg:hover {
    cursor: pointer;
  }

  .submit-btn {
    margin-top: 50px;
  }
}