@import "../../../styles/colors.scss"; 

.page-container {
  padding: 50px 40px 0;

  &__progress_container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sentence-container {
    margin: 20px 0;
  }

  .sentence {
    border: 1px solid $grey-border;
    padding: 10px;
    margin: 20px;
    font-size: 1.2rem;
    font-family: sans-serif;
  }

  .txt-area {
    width: 600px;
    font-size: 1.2rem;
  }

  button {
    font-family: sans-serif;
    border: none;
    text-transform: uppercase;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 700;
  }

  svg:hover {
    cursor: pointer;
  }
}