@import "../styles/colors.scss";

.play-btn {
  width: 138px;
  height: 138px;  
  background-color: $light-blue;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}