@import '../../styles/colors.scss';

.action-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $secondary-blue;
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100%;
  color: $white;
  font-weight: 600;
  
  &:hover {
    background-color: $orange;
    cursor: pointer;
  }

  img {
    width: 58px;
    height: 58px;
  }
}