@import "../../styles/colors.scss";
.connect-words {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  
  .words-buble {
    padding: 1rem;
    border: 1px solid $light-purple;
    border-radius: 20px;

  
    &:hover {
      cursor: pointer;
    }
  }
  
  .translation {  
    width: 75%;
    margin: 1rem 0;
    padding-left: 25%;
    .words{
      margin: 1rem 0;
    }

    .words-buble {
      margin-right: 1rem;
    }
  }
  

  .words-container {
    margin: 2rem 0 4rem 0;

    .words-buble {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
}