@import '../../styles/colors';

.level-container {


  // REMOVE THIS !!!!!!!!!!!!!!!!!!!!!
  min-height: 66vh;

  .lesson {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: 0.75rem;
    height: 4.25rem;
    margin-left: 4.5%;
    margin-right: 9%;
  }
}