$main-blue: #4169E1;
$secondary-blue: #6080DF;
$dark-blue: #4D4C78;
$grey-text: #878787;
$dark-grey-text: #4B4B4B;
$orange: #F8881B;
$white: #FFFFFF;
$backgound-grey: #F5F5F5;
$dark-grey: #737373;
$light-green: #44E336;
$light-purple: #DFDAFD;



// Admin Colors
$nav-color: #084983;
$primary-color: #0695c4;
$light-green: #58cc02;
$grey-border: rgb(187, 186, 186);


